body{margin: 0;
padding: 0;
font-family: Times, serif;
font-size: 15pt;
text-align: center;
color: #003;
background: #336; 
}
/*-----Главная таблица-----*/
#table{
font-size: 12pt;
}

td.rule{
padding: 10pt;
background: #66f;
color: #fff;
}
td.usual{
padding: 5;
	background: #e9e3fd;
color: #003;
}

/*-----Заголовок со страницами-----*/
table.pages{
padding: 5;
font-size: 10pt;}

td.a{
font-size: 10pt;
background: #ccf;
color: #336;
}

a:link.p,a:visited.p {text-decoration: none;
font-size: 10pt;
font-weight: bold;
color: #ccf;
background: #336;}
a:hover.p {text-decoration: underline;}

a:link.a,a:visited.a {text-decoration: none;
font-size: 10pt;
font-weight: bold;
color: #336;
background: #ccf;}
a:hover.a {text-decoration: underline;}

td.mlecn{
text-align: left;
	background: #e9e3fd;
color: #336;
}

td.mleco{
text-align: center;
background: #336;
color: #ccf;
}

a:link.mlecl,a:visited.mlecl {text-decoration: none;
font-family: Arial;
font-size: 13pt;
font-weight: bold;
color: #336;
	background: #e9e3fd;
}
a:hover.mlecl {
color: #ccf;
background: #336;

}
