body{font-family: Arial;
margin: 0;}

table{width: 90%;
font: 12;
color: #003;
border-collapse: collapse;
border-color: #003;}

td{text-align: center;
border: solid 2px #003;}

table.main{width: 100%;
color: #99c;}

td.main{background: #336;
text-align: left;
border: 1;
}

p{margin-right: 20;
margin-left: 20;}

#main{background: #ccf;
color: #003;
vertical-align: top;}

#pojas{background: #669;
color: #003;
text-align: justify;
vertical-align: top;
width: 300;}

#right{text-align: right;}

#left{text-align: left;}

#title{text-align: center;
font-size: 15;
margin: 20;}

ul{text-align: left;}

a{color: #99c;
text-decoration: none;}

a:hover{text-decoration: underline;}

a.pojas{color: #003;
font-weight: bold;}