BODY
 {
    FONT-FAMILY: "Arial Cyr", Geneva;
    TEXT-ALIGN: justify;
    BACKGROUND: #ffFFFF;                 /* заменять в зависимости от оформления CD-ROM  */
    margin-top: 2em;
    margin-right: 2em;
    margin-left: 2em;   
    COLOR: DarkBlue;
  }

#head1
{	text-align: center;
	font-size: 15pt;
	font-weight: bold;
	margin: 20;
}

#head2
{	text-align: left;
	font-size: 13pt;
	font-weight: bold;
	margin: 8; 
}

H1, H1.menu
{
	font-weight: bold;
	font-size: 18pt; 
	TEXT-ALIGN: center;
}

H2
{
	font-weight: bold;
	font-size: 14pt; 
	TEXT-ALIGN: center
}

P
{
	FONT-SIZE: 13pt;
	TEXT-INDENT: 0em;
	TEXT-ALIGN: justify;
	margin-top: 5pt;
	margin-bottom: 5pt;
	margin-left: 5pt;
}


ol
{
	FONT-SIZE: 13pt;
	TEXT-ALIGN: justify;
	margin-left: 45pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
}

TD /*, TD P */
{
    TEXT-INDENT: 0em;  
    FONT-SIZE: 11pt;
/*    TEXT-ALIGN: justify; */
 }

/* автор */

.author
 { 
    FONT-WEIGHT: bold;
    FONT-STYLE: italic;
    FONT-SIZE: 9pt;
    TEXT-INDENT: 0em;
    TEXT-ALIGN: center;  
    margin-top: 10pt;
    margin-bottom: 10pt;
 }

/* внешние ссылки */

.extra
 {
    TEXT-DECORATION: none;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
 }

.extra:hover
 {
  text-decoration : underline;
 }

.menu
 {
    TEXT-ALIGN: left;  
    BACKGROUND: #aabbcc;                 /* заменять в зависимости от оформления CD-ROM */
    TEXT-DECORATION: none;   
    TEXT-INDENT: 0;
    FONT-WEIGHT: bold; 
    COLOR: DarkBlue;
    font-size: 9pt;
    margin-top: 0pt;
    margin-right: 2pt;
    margin-left: 5pt;   
 }

.top
 {
    TEXT-ALIGN: left;
    BACKGROUND: #aabbcc;                 /* заменять в зависимости от оформления CD-ROM */
    TEXT-DECORATION: none;
    TEXT-INDENT: 0;
    FONT-WEIGHT: bold;
    COLOR: DarkBlue;
    margin-top: 3pt;
 }
 
.menu:hover
 {
  text-decoration : underline;
 }